body {
  margin-top: 65px;
  margin-bottom: 65px;
  background-color: #ccfff2;
  background-image: url("img/parchment.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #003325;
  text-align: center;
  font-family: "Merienda", cursive;
}
a.anchor {
  display: block;
  position: relative;
  top: -65px;
}
.slug-navbar {
  background-color: #ffebcc;
}
.navbar-brand {
  font-family: 'La Belle Aurore', cursive;
  font-weight: 800;
} 
hr {
  font-weight: 200;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  font-family: 'La Belle Aurore', cursive;
  font-weight: 600;
}
.icons {
  text-align: center;
  font-size: 100px;
}
#calander {
  margin: auto;
}
.box {
  padding-top: 50px;
  padding-right: 120px;
  padding-bottom: 50px;
  padding-left: 120px;
}
.small-box {
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
}
  

@media (max-width: 768px) {
  .box{
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    }
}
@media (max-width: 768px) {
  .small-box {
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
  }
}